$first-color: red;
$second-color: blue;
$third-color: green;
$size-body: 1rem;
$size-footer: 24px;

@function size_conversion_px_to_rem($size_in_px) {
    $rem-font-size: 14px;
    @return calc(#{$size_in_px} / #{$rem-font-size})rem;
  }
  