$first-color:red;
$second-color:blue;
$third-color:green;

body{
    border:1px solid $first-color;
}




div{
    section{
        display: flex;
        padding: 8px;
        article{
            border: 1px solid $third-color;
            text-align: center;
            justify-content: space-between;
            padding: inherit;
            font-size: 20px;
        }
        article:nth-child(1), article:nth-child(3){
            color: $second-color;
        }
       
        article:nth-child(2),article:nth-child(4){
            color: $first-color;
        }
    }
  

    h1{
        color: $third-color;
        text-decoration: underline;
        text-decoration-color:$second-color ;
        text-align: center;
    }
}